body {
    background-color: #FFFAFA;
    margin: 0px;
}

body p {
    text-align: center;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
}
nav ul{
  margin:0px;
  padding: 0px;
  background-color:  #006A8D;
  overflow: hidden;

}
nav li {
  float:left;
  border-right: 1px solid #bbb;
  list-style-type: none;
}


nav li:last-child {
    border-right: none;
}
#container{
  width: 800px;
  margin-left:auto;
  margin-right:auto;
}
/* dropdown hover*/
@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }

  .navbar-nav>li{
    border-right: 1px solid #CCCCCC;
  }
  .navbar-nav>li:last-child{
     border: none;
  }
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
