body {
    background-color: #FFFAFA;
    margin: 0px;
}

body p {
    text-align: center;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
}
nav ul{
  margin:0px;
  padding: 0px;
  background-color:  #006A8D;
  overflow: hidden;

}
nav li {
  float:left;
  border-right: 1px solid #bbb;
  list-style-type: none;
}


nav li:last-child {
    border-right: none;
}
#container{
  width: 800px;
  margin-left:auto;
  margin-right:auto;
}